<!doctype html>
<head>
  <title>Daft Listings</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datatables.min.css') }}">
  <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='jQuery-3.3.1/jquery-3.3.1.min.js') }}"></script>
  <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='datatables.min.js') }}"></script>
  <script type="text/javascript" class="init">
    $(document).ready(function() {
      $('#listings').DataTable({ pageLength: 100 });
    } );
  </script>
</head>
<body>
  <table id="listings" class="display">
    <thead>
      <th>Address</th>
      <th>Price</th>
      <th>Area</th>
      <th>Euro/m²</th>
      <th>Beds/Baths</th>
      <th>Commute time</th>
      <th>m²/(Euro-Thousands * Commute-Hour)</th>
      <th>Added</th>
      <th>First seen</th>
    </thead>
    <tbody>
      {% for l in listings %}
      <tr>
        <td><a href="https://www.daft.ie{{ l.url}}" target="_blank">{{ l.address }}</a></td>
        <td>{% if l.price %}{{ '{:,}'.format(l.price) }}{% endif %}</td>
        <td>{{ l.area }}</td>
        <td>
            {% if l.price and l.area %}
            {{ (l.price / l.area)|int }}
            {% endif %}
        </td>
        <td>{{ l.beds }}/{{ l.bathrooms }}</td>
        {% if l.url in distances %}
        <td data-order="{{ distances[l.url].duration_secs}}">{{ distances[l.url].duration_text }}</td>
        {% else %}
        <td></td>
        {% endif %}
        <td>{% if l.price and l.url in distances and l.area %}{{ l.area/(l.price * distances[l.url].duration_secs / 3600 / 1000)}}{% endif %}</td>
        <td>{{ l.added }}</td>
        <td>{{ l.first_seen }}</td>
      </tr>
      {% endfor %}
    </tbody>
</body>
