<!doctype html>
<head>
  <title>Daft Listings</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datatables.min.css') }}">
  <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='jQuery-3.3.1/jquery-3.3.1.min.js') }}"></script>
  <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='datatables.min.js') }}"></script>
  <script type="text/javascript" class="init">
    $(document).ready(function() {
      $('#listings').DataTable({ pageLength: 100 });
    } );
  </script>
</head>
<body>
  <table id="listings" class="display">
    <thead>
      <th>Address</th>
      <th>Price</th>
      <th>Area</th>
      <th>Beds/Baths</th>
      <th>Commute time</th>
      <th>Euro per commute-sec</th>
    </thead>
    <tbody>
      {% for l in listings %}
      <tr>
        <td><a href="https://www.daft.ie{{ l.url}}">{{ l.address }}</a></td>
        <td>{{ l.price }}</td>
        <td>{{ l.area }}</td>
        <td>{{ l.beds }}/{{ l.bathrooms }}</td>
        {% if l.url in distances %}
        <td data-order="{{ distances[l.url].duration_secs}}">{{ distances[l.url].duration_text }}</td>
          {% if l.price %}
          <td>{{ l.price / distances[l.url].duration_secs }}</td>
          {% else %}
          <td></td>
          {% endif %}
        {% else %}
        <td></td><td></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
</body>
